* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
}

.header{
    background-color: orangered;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    height: 40px;
    position: sticky;   
    top: 0;            
    z-index: 100
}

header nav a {
    color:white;              
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    border-radius: 15px;
}

.card {
    text-align: center;
    max-width: 250px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: rgb(190, 0, 133);
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 20px;
}
.section {
    background: rgb(255, 0, 179);
    padding: 30px;
    border-radius: 10px;
}
 
#philosophy {
    width: 100%;
    padding: 40px 20px;
    background-color: #48ff00; /* опционально */
    border-radius: 10px;
}
  
#philosophy h2 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 28px;
    font-style: oblique;
}
  
.philosophyContent {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto; 
}
  
.quote {
    flex: 1;
    margin: 0;
    font-style: italic;
}
  
.author {
    display: block;
    text-align: right;
    margin-top: 15px;
    font-weight: bold;
    background-color: #48ff00;
  }
  
  .philosophyContent img {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

  footer {
    width: 100%;
    background-color: #48ff00; 
    padding: 20px 0;
    border-radius: 15px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    padding: 0 20px;
  }
  
  .contact-info {
    flex: 1;
    min-width: 300px;
    justify-content: center;
  }
  
  .contact-info h2 {
    margin-top: 0;
    color: rgb(253, 253, 253);
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
  .map-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
  }
  /* style.css */
.bg-pink {
  background-color: rgb(255, 0, 179) !important;
}

.bg-success {
  background-color: #48ff00 !important;
}